# Allow tracking this .gitignore file
!/.gitignore

# Unreal Engine essentials (modify these to track only your changes)
Config/*
Content/*
Intermediate/*
Saved/*
DerivedDataCache/*
Plugins/*
UE_MTNDragon_Wwise.uproject



!Content/MountainDragon/
Content/QuadrapedCreatures/
!Content/QuadrapedCreatures/


 
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_Anim.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_biteAggressive.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_biteNormal.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_deathAggressive.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_deathNormal.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_getHitAggressive.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_getHitNormal.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_idleAggressive.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_idleBreathe.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_idleLookAround.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_jumpBiteAggressive_RM.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_jumpBiteAggressive.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_jumpBiteNormal_RM.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_jumpBiteNormal.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_MANE_Anim.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_run_RM.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_run.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_runBite_RM.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_runBite.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_TAIL_Anim.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_walk_RM.uasset
Content/QuadrapedCreatures/Barghest/Animations/BARGHEST_walk.uasset
Content/QuadrapedCreatures/Barghest/Blueprint/BP_BARGHEST_OptionsSetUp.uasset
Content/QuadrapedCreatures/Barghest/Maps/Overview_BuiltData.uasset
Content/QuadrapedCreatures/Barghest/Maps/Overview.umap
Content/QuadrapedCreatures/Barghest/Materials/M_BARGHEST.uasset
Content/QuadrapedCreatures/Barghest/Materials/M_HAIR.uasset
Content/QuadrapedCreatures/Barghest/Meshes/BARGHEST_PhysicsAsset.uasset
Content/QuadrapedCreatures/Barghest/Meshes/BARGHEST_Skeleton.uasset
Content/QuadrapedCreatures/Barghest/Meshes/SK_BARGHEST_MANE.uasset
Content/QuadrapedCreatures/Barghest/Meshes/SK_BARGHEST_TAIL.uasset
Content/QuadrapedCreatures/Barghest/Meshes/SK_BARGHEST.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_BaseColor.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_HAIR_NRM_Yinv.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_HAIR_RoughnessSpecularMetallicAO.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_HAIR.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_ILLUM.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_NRM_2_Yinv.uasset
Content/QuadrapedCreatures/Barghest/Textures/BARGHEST_RoughnessSpecularMetallicAO.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_2HitComboSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_attack1Sword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Attack2Sword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DeathAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DeathBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DeathNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DeathNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DeathSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_DrawSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopNotAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GallopSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GetHitAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GetHitBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GetHitNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GetHitNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_GetHitSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleAimingToIdleNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleNormalToIdleAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleNormalToIdleNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleNotAimingToIdleNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_IdleSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackNotAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_LegAttackSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_PutSwordBack.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_ShootArrowToIdleAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotNotAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_TrotSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftNoAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftNoAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90LeftSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightNoAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightNoAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_Turn90RightSword.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkBow_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkBow.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkNormal_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkNormal.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkNotAiming_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkNotAiming.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkSword_RM.uasset
Content/QuadrapedCreatures/Centaur/Animations/ANIM_Centaur_WalkSword.uasset
Content/QuadrapedCreatures/Centaur/Blueprint/BP_Centaur_SetUp.uasset
Content/QuadrapedCreatures/Centaur/Maps/Overview_BuiltData.uasset
Content/QuadrapedCreatures/Centaur/Maps/Overview.umap
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Body_1.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Body_2.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Body_3.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Body_4.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Eyes.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Gear.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Hair_1.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Hair_2.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Hair_3.uasset
Content/QuadrapedCreatures/Centaur/Materials/M_Centaur_Hair_4.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Arrow_Action_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Arrow_Action.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Beard_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Beard.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Body_Armor_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Body_Armor.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Bow_Action_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Bow_Action.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Bow_Idle_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Bow_idle.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Centaur_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Centaur_Skeleton.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Centaur.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Goaty_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Goaty.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Mane_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Mane.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Mustaches_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Mustaches.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Pork_Chops_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Pork_Chops.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sheath_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sheath.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Shoulder_Pads_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Shoulder_Pads.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sword_Action_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sword_Action.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sword_Idle_PhysicsAsset.uasset
Content/QuadrapedCreatures/Centaur/Meshes/SK_Sword_Idle.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_BaseColor_1.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_BaseColor_2.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_BaseColor_3.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_BaseColor_4.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_nml.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_OcclusionRoughnessMetallic.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Body_Specular.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Eyes_nml.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Eyes_OcclusionRoughnessMetallicSpecular.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Eyes.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Gear_BaseColor.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Gear_nml.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Gear_OcclusionRoughnessMetallic.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Gear_Specular.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Hair_1.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Hair_2.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Hair_3.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Hair_4.uasset
Content/QuadrapedCreatures/Centaur/Textures/T_Centaur_Hair_nml.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_2HitComboAttack_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_2HitComboAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_3HitComboAttack_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_3HitComboAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_BiteAttack_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_BiteAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Death.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Falling.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyBackwardsStationary.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyGetHitNormal.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyGetHitNormalToFalling.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyGetHitStationary.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyGetHitStationaryToFalling.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyLeftStationary.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyNormal.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyRightStationary.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyStationary.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_FlyStationaryClawsAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Gallop_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Gallop.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_GetHit1.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_GetHit2.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Glide.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_HitTheGround.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Idle.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_JumpToFly.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Landing.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_LeftClawsAttack_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_LeftClawsAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_RightClawsAttack_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_RightClawsAttack.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Swooping.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Turn90Left_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Turn90Left.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Turn90Right_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Turn90Right.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Walk_RM.uasset
Content/QuadrapedCreatures/Griffon/Animations/ANIM_Griffon_Walk.uasset
Content/QuadrapedCreatures/Griffon/Maps/Overview_BuiltData.uasset
Content/QuadrapedCreatures/Griffon/Maps/Overview.umap
Content/QuadrapedCreatures/Griffon/Materials/M_Griffon_Feathers.uasset
Content/QuadrapedCreatures/Griffon/Materials/M_Griffon.uasset
Content/QuadrapedCreatures/Griffon/Meshes/SK_Griffon_Physics.uasset
Content/QuadrapedCreatures/Griffon/Meshes/SK_Griffon_Skeleton.uasset
Content/QuadrapedCreatures/Griffon/Meshes/SK_Griffon.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_Griffon_BaseColor.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_Griffon_Feathers_nml.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_Griffon_Feathers_OcclusionRoughnessMetallicSpecular.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_Griffon_Feathers.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_GRIFFON_nml.uasset
Content/QuadrapedCreatures/Griffon/Textures/T_GRIFFON_OcclusionRoughnessMetallicSpecular.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_bite.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_biteGrabThrow.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_ClawsAttack2HitComboForward_RM.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_ClawsAttack2HitComboForward.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_death.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_deathHitTheGround.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_falling.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_flyNormal.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_flyNormalGetHit.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_flyNormalToFall.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationary.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationaryGetHit.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationarySpitFireBall.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationarySpreadFire.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationaryToFall.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_FlyStationaryToLanding.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_getHitFront.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_getHitLeft.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_getHitRight.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_glide.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_glidePosToLanding.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_idleBreathe.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_idleLookAround.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_LeftClawsAttackForward_RM.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_LeftClawsAttackForward.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_rightClawsAttackForward_RM.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_rightClawsAttackForward.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_run_RM.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_run.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_spitFireBall.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_spreadFire.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_takeOffToFlyStationary_RM.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_takeOffToFlyStationary.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_takeOffToGlide_RM.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_takeOffToGlide.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_turn90Left_RM.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_turn90Left.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_turn90Right_RM.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_turn90Right.uasset
Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_walk_RM.uasset
# Content/QuadrapedCreatures/MountainDragon/Animations/ANIM_MOUNTAIN_DRAGON_walk.uasset
Content/QuadrapedCreatures/MountainDragon/Maps/Overview_BuiltData.uasset
Content/QuadrapedCreatures/MountainDragon/Maps/Overview.umap
Content/QuadrapedCreatures/MountainDragon/Materials/M_MOUNTAIN_DRAGON.uasset
Content/QuadrapedCreatures/MountainDragon/Meshes/MOUNTAIN_DRAGON_PhysicsAsset.uasset
Content/QuadrapedCreatures/MountainDragon/Meshes/MOUNTAIN_DRAGON_Skeleton.uasset
Content/QuadrapedCreatures/MountainDragon/Meshes/SK_MOUNTAIN_DRAGON.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_ALBEDO.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_AO.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_ILLUM.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_LEGACY.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_NRM.uasset
Content/QuadrapedCreatures/MountainDragon/Textures/T_MOUNTAIN_DRAGON_RoughnessSpecularMetallic.uasset
